## Import libraries

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Data Preprocessing

In [3]:
# define file name
filename = r'Use this dataset\uswtdb_v5_0_20220427_rename.csv'

# read csv file
wind_turbine_df = pd.read_csv(filename)

# check number of rows and columns
wind_turbine_df.shape

C:\Users\quakl\AppData\Local\Temp\ipykernel_9552\587385051.py:5: DtypeWarning: Columns (1,2,3,4,6,7,8,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  wind_turbine_df = pd.read_csv(filename)

(71784, 124)

In [4]:
# get the columns of the dataframe
wind_turbine_df.columns

Index(['Plant Id', 'Combined Heat And\nPower Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved',
       ...
       'rotor_swept area (m2)', 'max_height (m)', 'retrofit (y/n)',
       'retrofit_year', 'attribute_confidence_level (1/2/3)',
       'location_confidence_level (1/2/3)', 'location_verification_date',
       'image_source', 'xlong', 'ylat'],
      dtype='object', length=124)

In [5]:
# filter unecessary columns
wind_turbine_df = wind_turbine_df[[#'faa_digital_obstacle_id', 'faa_obstruction_evaluation_id', 'usgs_id', 
                                   'Plant Id', 'eia_id', 
                                   # 'state', 'county',
                                   # 'state_county_id',
                                   'project_name', 
                                   # 'operational_year', 'project_turbine_num',
                                   # 'cumulative_capacity (MW)',
                                   # 'manufacturer', 'model_name', 
                                   'turbine_capacity (KW)',
                                   'hub_height (m)', 
                                   'rotor_diameter (m)', 'rotor_swept area (m2)', 'max_height (m)',
                                   # 'retrofit (y/n)',
                                   # 'retrofit_year', 'attribute_confidence_level (1/2/3)',
                                   # 'location_confidence_level (1/2/3)', 'location_verification_date', 'image_source', 
                                   'xlong', 'ylat']]

# check for duplicates
wind_turbine_df.duplicated().sum()

1

In [6]:
# show duplicated rows
wind_turbine_df[wind_turbine_df.duplicated()]

,Plant Id,eia_id,project_name,turbine_capacity (KW),hub_height (m),rotor_diameter (m),rotor_swept area (m2),max_height (m),xlong,ylat
63989,99999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# drop Plant Id = 99999.0
wind_turbine_df = wind_turbine_df[wind_turbine_df['Plant Id'] != 99999.0]

# check for duplicates
wind_turbine_df.duplicated().sum()

0

In [8]:
# check null values
wind_turbine_df.isnull().sum()[lambda x: x > 0].sort_values(ascending=False)

Plant Id                 7794
eia_id                   6205
max_height (m)           5139
hub_height (m)           5138
rotor_diameter (m)       4893
rotor_swept area (m2)    4893
turbine_capacity (KW)    4439
project_name              116
xlong                     116
ylat                      116
dtype: int64

In [9]:
# drop for Plant Id that is null
wind_turbine_df = wind_turbine_df[wind_turbine_df['Plant Id'].notna()]

# check null values
wind_turbine_df.isnull().sum()[lambda x: x > 0].sort_values(ascending=False)

max_height (m)           1507
hub_height (m)           1506
rotor_diameter (m)       1270
rotor_swept area (m2)    1270
turbine_capacity (KW)     871
eia_id                    116
project_name              116
xlong                     116
ylat                      116
dtype: int64

In [10]:
# show values for eia_id that are null
wind_turbine_df[wind_turbine_df['eia_id'].isnull()]

,Plant Id,eia_id,project_name,turbine_capacity (KW),hub_height (m),rotor_diameter (m),rotor_swept area (m2),max_height (m),xlong,ylat
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,52142.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1506,54299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1507,54300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1547,54647.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
63983,65059.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63984,65143.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63985,65478.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63986,65479.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63987,65484.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# remove for eia_id that are null
wind_turbine_df = wind_turbine_df[wind_turbine_df['eia_id'].notna()]

# check null values
wind_turbine_df.isnull().sum()[lambda x: x > 0].sort_values(ascending=False)

max_height (m)           1391
hub_height (m)           1390
rotor_diameter (m)       1154
rotor_swept area (m2)    1154
turbine_capacity (KW)     755
dtype: int64

In [12]:
# check if all Plant Id = eia_id
wind_turbine_df[wind_turbine_df['Plant Id'] != wind_turbine_df['eia_id']]

Empty DataFrame
Columns: [Plant Id, eia_id, project_name, turbine_capacity (KW), hub_height (m), rotor_diameter (m), rotor_swept area (m2), max_height (m), xlong, ylat]
Index: []

In [14]:
# replace project_name = "Lake Region Community Hybrid, LLC" with operational_year = 2020, turbine_capacity (KW) = 2500
# https://www.albertleatribune.com/2020/08/county-board-gives-go-ahead-for-new-wind-turbine-project/ - proj details
# https://eerscmap.usgs.gov/uswtdb/viewer/#10.02/43.6746/-93.3486
wind_turbine_df.loc[wind_turbine_df['project_name'] == 'Lake Region Community Hybrid, LLC', 'turbine_capacity (KW)'] = [2500]

# check project_name = "Lake Region Community Hybrid, LLC"
wind_turbine_df[wind_turbine_df['project_name'] == 'Lake Region Community Hybrid, LLC']

,Plant Id,eia_id,project_name,turbine_capacity (KW),hub_height (m),rotor_diameter (m),rotor_swept area (m2),max_height (m),xlong,ylat
57401,62442.0,62442.0,"Lake Region Community Hybrid, LLC",2500.0,NaN,NaN,NaN,NaN,-93.307907,43.580891

In [109]:
# save file to csv, removing '_rename.csv' to '_proj_capacity.csv'
wind_turbine_df.to_csv(filename.replace('_rename.csv', '_proj_capacity.csv'), index=False)