## Import libraries

In [1]:
import pandas as pd

## Change wind turbine dataset column names

In [56]:
# define windturbine dataset file name
wind_turbine_filename = r'Use this dataset/uswtdb_v5_0_20220427.csv'

# read wind turbine dataset
wind_turbine_df = pd.read_csv(wind_turbine_filename, encoding = 'Latin-1')

# print first 5 rows of wind turbine dataset
wind_turbine_df.head()

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,p_tnum,p_cap,t_manu,t_model,t_cap,t_hh,t_rd,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
0,3072695,NaN,NaN,5143.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,194,18.43,Vestas,NaN,95.0,NaN,NaN,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.364410,35.077435
1,3072704,NaN,NaN,5146.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,194,18.43,Vestas,NaN,95.0,NaN,NaN,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.364197,35.077644
2,3072661,NaN,NaN,5149.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,194,18.43,Vestas,NaN,95.0,NaN,NaN,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.363762,35.077908
3,3063269,19-028130,2016-WTE-5934-OE,NaN,NaN,IA,Story County,19169,30 MW Iowa DG Portfolio,2017.0,10,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,0,NaN,3,3,7/23/2017,Digital Globe,-93.632835,41.882477
4,3063321,19-028135,2014-WTE-4087-OE,NaN,NaN,IA,Hardin County,19083,30 MW Iowa DG Portfolio,2017.0,10,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,0,NaN,3,3,6/20/2017,Digital Globe,-93.367798,42.497940

In [57]:
wind_turbine_df.shape

(71666, 27)

In [58]:
# define datadictionary file name
datadictionary_filename = r'data_documentation/windturbine_datadictionary_updated.xlsx'

# read datadictionary dataset
datadictionary_df = pd.read_excel(datadictionary_filename)

# print first 5 rows of datadictionary dataset
datadictionary_df.head()

,Key,Value Type,Key Description,Column Name,url
0,case_id,number (integer),Unique stable identification number.,case_id,NaN
1,faa_ors,string,Unique identifier for cross-reference to the F...,faa_digital_obstacle_id,https://www.faa.gov/air_traffic/flight_info/ae...
2,faa_asn,string,Unique identifier for cross-reference to the F...,faa_obstruction_evaluation_id,https://www.faa.gov/air_traffic/obstruction_ev...
3,usgs_pr_id,number (integer),Unique identifier for cross-reference to the 2...,usgs_id,NaN
4,t_state,string,State where turbine is located.,state,NaN

In [59]:
# set 'Key' column as index in the datadictionary_df dataframe
datadictionary_df = datadictionary_df.set_index('Key')

# use rename function to map old column names to new column names using the datadictionary_df dataframe
wind_turbine_df_rename = wind_turbine_df.rename(columns=datadictionary_df['Column Name'])

# reset index of datadictionary_df
datadictionary_df = datadictionary_df.reset_index()

# print first 5 rows of wind turbine dataset
wind_turbine_df_rename.head()

,case_id,faa_digital_obstacle_id,faa_obstruction_evaluation_id,usgs_id,eia_id,state,county,state_county_id,project_name,operational_year,project_turbine_num,cumulative_capacity (MW),manufacturer,model_name,turbine_capacity (KW),hub_height (m),rotor_diameter (m),rotor_swept area (m2),max_height (m),retrofit (y/n),retrofit_year,attribute_confidence_level (1/2/3),location_confidence_level (1/2/3),location_verification_date,image_source,xlong,ylat
0,3072695,NaN,NaN,5143.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,194,18.43,Vestas,NaN,95.0,NaN,NaN,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.364410,35.077435
1,3072704,NaN,NaN,5146.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,194,18.43,Vestas,NaN,95.0,NaN,NaN,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.364197,35.077644
2,3072661,NaN,NaN,5149.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,194,18.43,Vestas,NaN,95.0,NaN,NaN,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.363762,35.077908
3,3063269,19-028130,2016-WTE-5934-OE,NaN,NaN,IA,Story County,19169,30 MW Iowa DG Portfolio,2017.0,10,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,0,NaN,3,3,7/23/2017,Digital Globe,-93.632835,41.882477
4,3063321,19-028135,2014-WTE-4087-OE,NaN,NaN,IA,Hardin County,19083,30 MW Iowa DG Portfolio,2017.0,10,30.00,Nordex,AW125/3000,3000.0,87.5,125.0,12271.85,150.0,0,NaN,3,3,6/20/2017,Digital Globe,-93.367798,42.497940

## Validate new column names

In [60]:
# create a new df to validate the renaming of the columns
rename_validation = pd.DataFrame(wind_turbine_df.columns, columns=['wind_turbine_df'])

# add the column names of wind_turbine_df_rename
rename_validation['wind_turbine_df_rename'] = wind_turbine_df_rename.columns

# maps column names in datadictionary_df to their corresponding 'Key' values
key_column = datadictionary_df.set_index('Key')['Column Name']

# add the corresponding 'Column Name' values based on the 'Key' values in wind_turbine_df
rename_validation['datadictionary'] = rename_validation['wind_turbine_df'].map(key_column)

# check if the column names in wind_turbine_df_rename match the corresponding column names in datadictionary_df
rename_validation['check'] = rename_validation['wind_turbine_df_rename'] == rename_validation['datadictionary']

# print the check of the renamed columns
print(f'Total number of columns: {rename_validation.shape[0]}\n\
Number of columns equal: {rename_validation[rename_validation["check"] == True].shape[0]}\n\
Number of columns not equal: {rename_validation[rename_validation["check"] == False].shape[0]}')

Total number of columns: 27
Number of columns equal: 27
Number of columns not equal: 0

# Filter only current data based on eia 2021 schedule

In [71]:
# read 2023 Dataset\EIA923_Schedules_2_3_4_5_M_12_2021_Final_Revision.xlsx
eia2021_schedule = pd.read_excel(r'2023 Dataset\EIA923_Schedules_2_3_4_5_M_12_2021_Final_Revision.xlsx', sheet_name='Page 1 Generation and Fuel Data', header=5)

# print eia2021_schedule columns
eia2021_schedule.columns

Index(['Plant Id', 'Combined Heat And\nPower Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported\nPrime Mover',
       'Reported\nFuel Type Code', 'AER\nFuel Type Code',
       'Balancing\nAuthority Code', 'Respondent\nFrequency',
       'Physical\nUnit Label', 'Quantity\nJanuary', 'Quantity\nFebruary',
       'Quantity\nMarch', 'Quantity\nApril', 'Quantity\nMay', 'Quantity\nJune',
       'Quantity\nJuly', 'Quantity\nAugust', 'Quantity\nSeptember',
       'Quantity\nOctober', 'Quantity\nNovember', 'Quantity\nDecember',
       'Elec_Quantity\nJanuary', 'Elec_Quantity\nFebruary',
       'Elec_Quantity\nMarch', 'Elec_Quantity\nApril', 'Elec_Quantity\nMay',
       'Elec_Quantity\nJune', 'Elec_Quantity\nJuly', 'Elec_Quantity\nAugust',
       'Elec_Quantity\nSeptember', 'Elec_Quantity\nOctober',
       'Elec_Quantity\nNovember', 'Elec_Quantity\nDecember',
       'MMBtuPer_Unit\nJanuary', 'MMBtuPer_Unit\nFebruary',
       'MMBtuPer_Unit\nMarch', 'MMBtuPer_Unit\nApril', 'MMBtuPer_Unit\nMay',
       'MMBtuPer_Unit\nJune', 'MMBtuPer_Unit\nJuly', 'MMBtuPer_Unit\nAugust',
       'MMBtuPer_Unit\nSeptember', 'MMBtuPer_Unit\nOctober',
       'MMBtuPer_Unit\nNovember', 'MMBtuPer_Unit\nDecember',
       'Tot_MMBtu\nJanuary', 'Tot_MMBtu\nFebruary', 'Tot_MMBtu\nMarch',
       'Tot_MMBtu\nApril', 'Tot_MMBtu\nMay', 'Tot_MMBtu\nJune',
       'Tot_MMBtu\nJuly', 'Tot_MMBtu\nAugust', 'Tot_MMBtu\nSeptember',
       'Tot_MMBtu\nOctober', 'Tot_MMBtu\nNovember', 'Tot_MMBtu\nDecember',
       'Elec_MMBtu\nJanuary', 'Elec_MMBtu\nFebruary', 'Elec_MMBtu\nMarch',
       'Elec_MMBtu\nApril', 'Elec_MMBtu\nMay', 'Elec_MMBtu\nJune',
       'Elec_MMBtu\nJuly', 'Elec_MMBtu\nAugust', 'Elec_MMBtu\nSeptember',
       'Elec_MMBtu\nOctober', 'Elec_MMBtu\nNovember', 'Elec_MMBtu\nDecember',
       'Netgen\nJanuary', 'Netgen\nFebruary', 'Netgen\nMarch', 'Netgen\nApril',
       'Netgen\nMay', 'Netgen\nJune', 'Netgen\nJuly', 'Netgen\nAugust',
       'Netgen\nSeptember', 'Netgen\nOctober', 'Netgen\nNovember',
       'Netgen\nDecember', 'Total Fuel Consumption\nQuantity',
       'Electric Fuel Consumption\nQuantity', 'Total Fuel Consumption\nMMBtu',
       'Elec Fuel Consumption\nMMBtu', 'Net Generation\n(Megawatthours)',
       'YEAR'],
      dtype='object')

In [74]:
# unique values for Reported\nPrime Mover
eia2021_schedule['Reported\nPrime Mover'].unique()

array(['IC', 'WT', 'HY', 'CA', 'CT', 'ST', 'GT', 'PS', 'CS', 'BA', 'PV',
       'CE', 'BT', 'OT', 'FC', 'CP', 'FW', 'WS'], dtype=object)

In [75]:
# filter eia2021_schedule for Reported\nPrime Mover == 'WT' and 'WS'
eia2021_schedule = eia2021_schedule[eia2021_schedule['Reported\nPrime Mover'].isin(['WT', 'WS'])]

# print eia2021_schedule shape
eia2021_schedule.shape

(1280, 97)

In [76]:
# check for duplicate rows
eia2021_schedule.duplicated().sum()

0

In [77]:
# print wind_turbine_df_rename columns
wind_turbine_df_rename.columns

Index(['case_id', 'faa_digital_obstacle_id', 'faa_obstruction_evaluation_id',
       'usgs_id', 'eia_id', 'state', 'county', 'state_county_id',
       'project_name', 'operational_year', 'project_turbine_num',
       'cumulative_capacity (MW)', 'manufacturer', 'model_name',
       'turbine_capacity (KW)', 'hub_height (m)', 'rotor_diameter (m)',
       'rotor_swept area (m2)', 'max_height (m)', 'retrofit (y/n)',
       'retrofit_year', 'attribute_confidence_level (1/2/3)',
       'location_confidence_level (1/2/3)', 'location_verification_date',
       'image_source', 'xlong', 'ylat'],
      dtype='object')

In [78]:
# left join on eia2021_schedule and wind_turbine_df_rename
wind_turbine_df_merge = pd.merge(eia2021_schedule, wind_turbine_df_rename, how='outer', left_on='Plant Id', right_on='eia_id')

# check merged table size
wind_turbine_df_merge.shape

(71787, 124)

# Check for merged tables

In [80]:
# show all wind_turbine_df_merge columns without truncated view
pd.set_option('display.max_columns', None)

# check for duplicate rows
wind_turbine_df_merge.duplicated().sum()

0

In [81]:
# show count highest eia_id,eia_id, xlong and ylat duplicates
wind_turbine_df_merge.groupby(['eia_id', 'xlong', 'ylat']).size().sort_values(ascending=False)

eia_id   xlong        ylat
90.0     -165.434866  64.563367    1
59200.0  -99.538193   48.997280    1
59083.0  -103.394882  39.309433    1
         -103.394417  39.286003    1
         -103.393051  39.392204    1
                                  ..
56984.0  -100.637993  32.525696    1
         -100.637291  32.537292    1
         -100.634895  32.515694    1
         -100.634491  32.535793    1
65270.0  -73.292801   42.543793    1
Length: 65577, dtype: int64

# Check for missing data

In [83]:
wind_turbine_df_merge.isnull().sum().sort_values(ascending=False)

Reserved                      71787
Physical\nUnit Label          71787
retrofit_year                 65801
usgs_id                       33558
location_verification_date     8415
                              ...
retrofit (y/n)                  121
state_county_id                 121
state                           121
project_turbine_num             121
ylat                            121
Length: 124, dtype: int64

## Save to csv file

In [84]:
# save the renamed wind turbine dataset to a new csv file
wind_turbine_df_merge.to_csv(wind_turbine_filename.split('.')[0] + '_rename.csv', index=False)